
:root {
    --color-bg-light: #f0f0f0;
    --color-bg-dark: #333;
    --color-bg-accent: #e0e0e0;
    --color-text: #2a2a2a;
    --color-primary: #4f81bd;
    --color-secondary: #ff4081;
    --color-white: #ffffff;
    --color-muted: #757575;
}
